<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/stock?serverTimezone=GMT%2B8&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ma123456</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 运行过程中将sql语句打印出来,建议在开发阶段将其设置为true -->
        <property name="show_sql">true</property>
        <property name="packagesToScan">com.qiwenshare.stock.domain</property>
        <!--
        <mapping resource="hibernate/Stock.hbm.xml"/>
        <mapping resource="hibernate/Echnicalaspect.hbm.xml"/>
        <mapping resource="hibernate/StockBidBean.hbm.xml"/>
        <mapping resource="hibernate/AbnormalactionBean.hbm.xml"/>
        <mapping resource="hibernate/ReplayBean.hbm.xml"/>-->
        <mapping class="com.qiwenshare.stock.domain.StockBean"/>
        <mapping class="com.qiwenshare.stock.domain.EchnicalaspectBean"/>
        <mapping class="com.qiwenshare.stock.domain.StockBidBean"/>
        <mapping class="com.qiwenshare.stock.domain.AbnormalactionBean"/>
        <mapping class="com.qiwenshare.stock.domain.ReplayBean"/>
    </session-factory>
</hibernate-configuration>