<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.stock.mapper.ReplayMapper">
    <select id="getReplayList" resultType="com.qiwenshare.stock.domain.ReplayBean">
        select * from replay
        left join stock b on b.stockId = a.stockId
        <if test="beginCount != null and pageCount != null">
            limit #{beginCount}, #{pageCount}
        </if>
    </select>
</mapper>